/*doc
---
title: Background Color
name: background-color
category: Utilities
---
## Sass

```js_example
// Basic
@include u-background-color('gray-1', $color-gray-1);

// Responsive
@include u-background-color('gray-1', $color-gray-1, 'md');
```

## Markup

### Basic

```html_example
<p class="u-background-color-gray-3">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
</p>
```

### Responsive

```html_example
<p class="u-background-color-gray-3">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
</p>
```
*/

/**
 * Background-color utility.
 * @param  {String} $alias
 * @param  {String} $value
 * @param  {String} $at-breakpoint
 */
@mixin u-background-color($alias, $value, $at-breakpoint: null) {
  @include u-property('background-color', $alias, $value, $at-breakpoint);
}
